name: "CI"

on:
  push:
    branches: [ master ]
    paths-ignore:
      - 'media/**'
      - '.gitignore'
      - 'LICENSE'
      - 'README.md'

  pull_request:
    branches: [ master ]
    paths-ignore:
      - 'media/**'
      - '.gitignore'
      - 'LICENSE'
      - 'README.md'
    types: [ opened, synchronize, reopened ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ '1.18.x', '1.19.x', '1.20.x', '1.21.x', '1.x' ]

    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Install Dependencies 
        run: go get .

      - name: Run Unit Tests
        run: go test ./test/unit

      - name: Run Integration Tests
        run: go test ./test/unit
